<launch>
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find grid_map_example)/launch/custom_rosconsole.conf"/>
 	<node pkg="grid_map_example" type="grid_map_example" name="grid_map_example" output="screen" />
    <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
 		 <param name="grid_map_topic" value="/grid_map_example/grid_map" />
 		 <param name="occupancy_grid/type" value="type" />
 		 <param name="occupancy_grid/data_min" value="0.0" />
 		 <param name="occupancy_grid/data_max" value="1.0" />
    </node>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find grid_map_example)/rviz/grid_map_example.rviz" />
</launch>
