<launch>

  <!-- Launch the grid map loader demo node -->
  <node pkg="grid_map_loader" type="grid_map_loader" name="grid_map_loader_demo" output="screen">
    <!-- Path to the bag file. -->
  	<param name="file_path" value="$(find grid_map_demos)/data/grid_map.bag" />
  	<!-- Topic under which grid map is saved in bag file. -->
  	<param name="bag_topic" value="/grid_map" />
  	<!-- Topic under which grid map should be published. If not set, same as above.-->
  	<param name="publish_topic" value="grid_map" />
  	<!-- For how long the node should be kept alive. -->
  	<param name="duration" value="10.0" />
  </node>

  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find grid_map_demos)/config/grid_map_loader_demo.yaml" />
  </node>
  
  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grid_map_demos)/rviz/grid_map_demo.rviz" />
</launch>