version: 2

jobs:
  build_and_test:
    docker:
      - image: ros:rolling
    environment:
      ROS_WS: "/opt/ros"
      UNDERLAY_WS: "/opt/underlay_ws"
      OVERLAY_WS: "/opt/overlay_ws"
    steps:
      - checkout
      - run:
          name: Set Up Container
          command: |
            apt update -qq && apt install -y build-essential cmake python3-colcon-common-extensions python3-rosdep libeigen3-dev liboctomap-dev
            apt upgrade -y
            source `find $ROS_WS -maxdepth 2 -name local_setup.bash | sort | head -1`
            rosdep update
            mkdir -p $OVERLAY_WS/src/grid_map && mv `find -maxdepth 1 -not -name . -not -name src` $OVERLAY_WS/src/grid_map/
            mkdir -p $UNDERLAY_WS/src && cp $OVERLAY_WS/src/grid_map/tools/ros2_dependencies.repos \
              $UNDERLAY_WS/ros2_dependencies.repos
            cd $UNDERLAY_WS && vcs import src < ros2_dependencies.repos
            DEBIAN_FRONTEND=noninteractive  rosdep install -y --ignore-src \
              --skip-keys "pybind11_vendor" --skip-keys "ompl" --skip-keys "slam_toolbox" --from-paths src
            MAKEFLAGS="-j4 -l1" colcon build --symlink-install --cmake-args --parallel-workers 1 \
              --executor sequential --packages-up-to pcl_ros octomap_msgs nav2_costmap_2d
            source $UNDERLAY_WS/install/setup.bash
            cd $OVERLAY_WS && rosdep install -y --ignore-src --from-paths src --skip-keys "octomap"
      - run:
          name: Debug Build
          command: |
            source $UNDERLAY_WS/install/setup.bash
            cd $OVERLAY_WS && colcon build --parallel-workers 1
      - run:
          name: Run Tests
          command: |
            source $UNDERLAY_WS/install/setup.bash
            cd $OVERLAY_WS
            colcon test --parallel-workers 1
            colcon test-result --verbose
workflows:
  version: 2
  ros_build:
    jobs:
      - build_and_test
